{# src/Frany/Bundles/LoginBundle/Ressources/views/Home/home.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
<a href="{{ path('frany_bundles_login_register') }}">Register for free!</a>
{% endblock %}
